#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("assets/IMG_0686.PNG");
  background-size: cover;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


